<md-toolbar class="md-warn warningstyle" flex="33" ng-show="changePasswordCntl.hasError">
  <div class="md-toolbar-tools">
    <h5 class="md-flex">{{changePasswordCntl.errorMessage}}</h5>
  </div>
</md-toolbar>
<div class="layout layout-sm layout-sm-column md-padding setHeight">
  <md-input-container class="flex md-default-theme">
    <label for="input_75"> Current Password </label>
    <input ng-model="changePasswordCntl.current_password" type="password" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" style="">
  </md-input-container>
</div>
<div class="layout layout-sm layout-sm-column md-padding setHeight">
  <md-input-container class="flex md-default-theme">
    <label for="input_175"> New Password </label>
    <input ng-model="changePasswordCntl.new_password" type="password" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" style="">
  </md-input-container>
</div>
<div class="md-padding setHeight">
  <div layout layout-sm="column">
    <md-input-container flex>
      <label> Confirm Password </label>
      <input ng-model="changePasswordCntl.confirm_password" class="ng-pristine ng-valid md-input ng-touched" type="password" aria-invalid="false" style="">
    </md-input-container>
  </div>
</div>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
  <button class="md-raised md-primary md-button md-ink-ripple" ng-click="changePasswordCntl.changeLoginPassword()" type="button"><span class="ng-scope"> Change Password </span></button>
</section>
