<div layout-align="center center" layout="row" flex="33" class="completeDiv">
  <div flex class="md-whiteframe-7dp top_margin">
    <div class="md-color md-padding" flex layout-align="center center" layout="row">
      <img class="logo" src="images/logo2.svg" />
    </div>
    <md-toolbar class="md-warn warningstyle" flex="33" ng-show="forgotPassword.hasError">
      <div class="md-toolbar-tools">
        <h5 class="md-flex">{{forgotPassword.errorMessage}}</h5>
      </div>
    </md-toolbar>
    <div class="layout layout-sm layout-sm-column md-padding">
      <md-input-container class="flex md-default-theme">
        <label for="input_175"> Enter Registered Email ID </label>
        <input ng-model="forgotPassword.credentials.email" class="ng-pristine ng-valid md-input ng-touched" id="input_175" aria-invalid="false" style="">
      </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="forgotPassword.getPassword()" type="button"><span class="ng-scope"> Submit </span></button>
      <span>{{forgotPassword.error.reason}}</span>
    </section>
    <div class="forgot_con md-padding">
      <span class="forgot"> <a ui-sref="login"> Login  </a> </span>
    </div>
  </div>
</div>