<div layout-align="center center" layout="row" flex="33" class="completeDiv">
  <div flex class="md-whiteframe-7dp top_margin">
    
      <div class="md-color md-padding" flex layout-align="center center" layout="row">
        <img class="logo" src="images/logo2.svg" />
      </div>
      <md-toolbar class="md-warn warningstyle warningstyle" flex="33" ng-show="accountLogin.hasError">
        <div class="md-toolbar-tools">
          <h5 class="md-flex">{{accountLogin.errorMessage}}</h5>
        </div>
      </md-toolbar>
      <div class="layout layout-sm layout-sm-column md-padding setHeight">
        <md-input-container class="flex md-default-theme">
          <label for="input_175"> Email </label>
          <input ng-model="accountLogin.newUser.email" class="ng-pristine ng-valid md-input ng-touched" id="input_175" aria-invalid="false" style="">
        </md-input-container>
      </div>
      <div class="md-padding">
        <div layout layout-sm="column" class="setHeight">
          <md-input-container flex>
            <label> Password </label>
            <input ng-model="accountLogin.newUser.password" type="password" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" style="">
          </md-input-container>
        </div>
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
        <button class="md-raised md-primary md-button md-ink-ripple" ng-click="accountLogin.loginUser()" type="button"><span class="ng-scope"> Login </span></button>
      </section>
      <div class="forgot_con md-padding">
        <span class="forgot"> <a ui-sref="forgotPassword"> Forgot password </a> </span>
      </div>
   
  </div>
</div>
